<nav class="px-28 py-8 flex justify-between items-center">
    <div class="relative">
        <div class="size-10 bg-tertiary rotate-45 rounded-sm"></div>
        <strong class="absolute text-text-success top-1/2 -translate-y-1/2 left-4">Skilline</strong>
    </div>

    <ul class="flex items-center gap-10">
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="">Careers</a>
        </li>
        <li>
            <a href="">Blog</a>
        </li>
        <li>
            <a href="">About Us</a>
        </li>
        <li>
            <button class="bg-white px-8 py-2 rounded-full hover:scale-105">Login</button>
        </li>
        <li>
            <button class=" bg-secondary px-8 py-2 rounded-full text-white hover:scale-105">Sign Up</button>
        </li>
    </ul>
</nav>