<div class="min-h-dvh h-dvh">
    <header class="h-5/6 w-full">
        <div class="h-full bg-[url('assets/img/fundo-cabecalho.svg')] bg-no-repeat bg-cover bg-center">
            <app-navbar class="md:block hidden"></app-navbar>
            <div class="flex flex-col md:flex-row md:justify-around px-4 justify-center items-center">
                <div class="mt-10 md:mt-40">
                    <h1 class="md:text-4xl text-2xl font-bold w-full md:w-9/12"><span
                            class="text-secondary">Studying</span> <span class="text-primary"> Online is now much
                            easier</span></h1>

                    <p class="mt-9 w-full md:w-96">Skilline is an interesting platform that will teach you in more an
                        interactive
                        way
                    </p>

                    <div class="flex flex-col md:flex-row items-center mt-5 gap-5">
                        <button class="bg-secondary px-8 py-3 rounded-full font-medium text-white hover:scale-105">Join
                            for
                            free</button>

                        <button class="bg-white size-12 rounded-full flex justify-center items-center hover:scale-105">
                            <img src="assets/img/icon-play.svg" class="size-5" alt="play">
                        </button>

                        <span class="text-sm">Watch how it works</span>
                    </div>

                </div>
                <div class="flex justify-center">
                    <img src="assets/img/aluna.svg" alt="aluna" class=" size-10/12 md:size-11/12">
                </div>
            </div>
        </div>
    </header>

    <main class="container mx-auto ">

        <section class="md:mt-20 mt-40">
            <p class="text-center">Trusted by 5,000+ Companies Worldwide</p>
            <div class="flex justify-center flex-wrap gap-8  md:gap-24">
                <img src="assets/img/logo-google.svg" class="size-16 md:size-28" alt="google">
                <img src="assets/img/logo-netflix.svg" class="size-16 md:size-28" alt="netflix">
                <img src="assets/img/logo-airbnb.svg" class="size-16 md:size-28" alt="aibnb">
                <img src="assets/img/logo-amazon.svg" class="size-16 md:size-28" alt="amazon">
                <img src="assets/img/logo-facebook.svg" class="size-16 md:size-28" alt="facebook">
                <img src="assets/img/logo-grab.svg" class="size-16 md:size-28" alt="grab">
            </div>
        </section>

        @defer(on viewport){

        <section class="mt-8 flex flex-col items-center py-10">

            <h3 class="text-center text-2xl font-medium"><span class="text-primary">All-In-One</span> <span
                    class="text-secondary">
                    Cloud Software.</span></h3>

            <p class="mt-4 text-center w-1/3">Skilline is one powerful online software suite that combines all the tools
                needed to run a
                successful school or office.
            </p>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-14">
                <app-card color="bg-primary" title="Online Billing, Invoicing, & Contracts"
                    description="Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and contracts"
                    img="assets/img/icon-file.svg"></app-card>
                <app-card color="bg-secondary" title="Easy Scheduling & Attendance Tracking"
                    description="Schedule and reserve classrooms at one campus or multiple campuses. Keep detailed records of student attendance"
                    img="assets/img/icon-calendar.svg"></app-card>
                <app-card color="bg-tertiary" title="Customer Tracking"
                    description="Automate and track emails to individuals or groups. Skilline’s built-in system helps organize your organization"
                    img="assets/img/icon-users.svg"></app-card>
            </div>

        </section>
        }@placeholder {
        <h1>teste</h1>
        }

        <section class="flex flex-col justify-center items-center my-12">


            <h3 class="text-center text-2xl font-medium"><span class="text-primary">What is</span> <span
                    class="text-secondary">
                    CSkilline?</span></h3>

            <p class="text-center w-1/2 mt-4">Skilline is a platform that allows educators to create online classes
                whereby
                they
                can store the course
                materials
                online; manage assignments, quizzes and exams; monitor due dates; grade results and provide students
                with feedback all
                in one place.</p>
            <div class="flex md:flex-row flex-col justify-center items-center gap-14 mt-14">

                <div class="relative w-10/12 md:w-1/3">
                    <img src="assets/img/mulher-instrutora.svg" alt="Mulher instrutora z-0" class="brightness-75">

                    <div
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center gap-4">
                        <h3 class="text-white">FOR INSTRUCTORS</h3>
                        <button
                            class="bg-transparent hover:scale-105 hover:bg-tertiary hover:border-tertiary hover:opacity-95 text-white border border-white rounded-full px-4 py-3">Start
                            a
                            class
                            today</button>
                    </div>
                </div>

                <div class="relative w-10/12 md:w-1/3">
                    <img src="assets/img/grupo-alunos.svg" alt="Mulher instrutora z-0" class="brightness-75">

                    <div
                        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center gap-4">
                        <h3 class="text-white">FOR STUDENTS</h3>
                        <button
                            class="bg-transparent hover:scale-105 hover:bg-tertiary hover:border-tertiary hover:opacity-95 text-white border border-white rounded-full px-4 py-3">Enter
                            access code</button>
                    </div>
                </div>
            </div>

        </section>

        <section class="flex flex-col md:flex-row justify-center item">
            <div class="flex flex-col md:flex-row gap-12 w-full md:w-3/4 mt-20 px-4">
                <div class="w-full md:w-1/2">
                    <h3 class="text-2xl font-medium text-primary">Everything you can do in a physical classroom,<span
                            class="text-secondary">you can do with Skilline</span></h3>
                    <p class="mt-5">Skilline’s school management software helps traditional and online schools manage
                        scheduling,
                        attendance, payments and
                        virtual classrooms all in one secure cloud-based system.</p>

                    <a href="#" class="mt-4 underline decoration-solid">Learn more</a>
                </div>
                <div class=" w-full md:w-1/2 flex justify-center">
                    <img src="assets/img/school.svg" class="w-full" alt="escola">


                </div>
            </div>
        </section>


        <section class="flex flex-col justify-center items-center my-12">
            <h3 class="text-center text-2xl font-medium"><span class="text-primary">Our</span> <span
                    class="text-secondary">
                    Features</span></h3>
            <p class="text-center w-1/2 mt-4">This very extraordinary feature, can make learning activities more
                efficient</p>

            <div class="flex flex-col md:flex-row w-full md:w-3/4 gap-4 mt-20 px-4">
                <div class="w-full md:w-3/5">
                    <img src="assets/img/meet.svg" class="w-full" alt="Reunião meet">
                </div>
                <div class="w-auto">
                    <h3 class="text-2xl font-medium text-primary">A <span class="text-secondary">user interface</span>
                        designed for
                        the classroom</h3>

                    <ul class="flex mt-8 flex-col justify-start gap-4">
                        <li>Teachers don’t get lost in the grid view and have a dedicated Podium space.</li>
                        <li>TA’s and presenters can be moved to the front of the class.
                        </li>
                        <li>Teachers can easily see all students and class data at one time.</li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col md:flex-row w-full px-4  md:w-3/4 gap-4 mt-20">

                <div class="w-full md:w-3/5">
                    <h3 class="text-2xl font-medium text-primary"><span class="text-secondary">Tools</span>
                        For Teachers And Learners</h3>

                    <p class="mt-5 w-full md:w-1/2">
                        Class has a dynamic set of teaching tools built to be deployed and used during class.
                        Teachers can handout assignments in real-time for students to complete and submit.
                    </p>
                </div>
                <div class="w-full md:w-3/5 flex justify-center items-center">
                    <img src="assets/img/aluna-pensando.svg" class="w-3/4" alt="Reunião meet">
                </div>
            </div>

            <div class="flex md:flex-row flex-col w-full md:w-3/4 px-4 gap-4 mt-20">

                <div class="w-full md:w-3/5 flex justify-center items-center">
                    <img src="assets/img/palacio.svg" class="w-full md:w-3/4" alt="Reunião meet">
                </div>
                <div class="w-full md:w-3/5">
                    <h3 class="text-2xl font-medium text-primary">Assessments, <span
                            class="text-secondary">Quizzes</span>, Tests</h3>

                    <p class="mt-5 w-full md:w-1/2">
                        Easily launch live assignments, quizzes, and tests.
                        Student results are automatically entered in the online gradebook.
                    </p>
                </div>
            </div>

            <div class="flex md:flex-row flex-col px-4 w-full md:w-3/4 gap-4 mt-20">

                <div class="w-full md:w-10/12">
                    <h3 class="text-2xl font-medium text-primary">Class Management <span class="text-secondary">Tools
                            for Educators</span>
                    </h3>

                    <p class="mt-5 w-full md:w-1/2">
                        Class provides tools to help run and manage the class such as Class Roster, Attendance, and
                        more. With the Gradebook,
                        teachers can review and grade tests and quizzes in real-time.

                    </p>
                </div>
                <div class="w-full md:w-10/12 flex justify-center items-center">
                    <img src="assets/img/grade_book.svg" class="w-full md:w-10/12" alt="Reunião meet">
                </div>
            </div>

            <div class="flex md:flex-row flex-col w-full px-4 md:w-3/4 gap-32 mt-20">

                <div class="w-full md:w-10/12 flex justify-center items-center">
                    <img src="assets/img/reuniao.svg" class=" w-full md:w-10/12" alt="Reunião meet">
                </div>
                <div class="w-full md:w-10/12">
                    <h3 class="text-2xl font-medium text-primary">One-on-One <span
                            class="text-secondary">Discussions</span>
                    </h3>

                    <p class="mt-5 w-full md:w-1/2">
                        Teachers and teacher assistants can talk with students privately without leaving the Zoom
                        environment.
                    </p>
                </div>
            </div>

            <div class="flex justify-center mt-5">

                <button class="border border-secondary rounded-full px-4 py-3 text-secondary hover:scale-105">See more
                    features</button>
            </div>
        </section>


        <section class="flex flex-col items-center justify-center my-12">

            <div class="flex flex-col md:flex-row w-full px-4 md:w-3/4 gap-10 mt-20">

                <div class="w-full md:w-10/12 flex justify-center items-center">
                    <img src="assets/img/midias.svg" class="w-full md:w-10/12" alt="Reunião meet">
                </div>
                <div class="w-full md:w-10/12">

                    <span class="flex items-center gap-4 text-primary">
                        <span class="w-10 h-px bg-primary"></span>
                        <span>INTEGRATIONS</span>
                    </span>

                    <h3 class="text-2xl font-medium text-primary">200+ educational tools and platform <span
                            class="text-secondary">integrations</span>
                    </h3>

                    <p class="mt-5 w-full md:w-1/2">
                        Teachers and teacher assistants can talk with students privately without leaving the Zoom
                        environment.
                    </p>

                    <div class="flex justify-center items-center md:justify-start">
                        <button
                            class="border mt-4 border-secondary rounded-full px-4 py-3 text-secondary hover:scale-105">See
                            All Integrations</button>
                    </div>
                </div>
            </div>


        </section>

        <section class="flex flex-col justify-center items-center px-4 my-12">
            <h3 class="text-center text-2xl font-medium text-primary">Lastest News and Resources</h3>

            <p class="text-center mt-4">See the developments that have occurred to Skillines in the world</p>

            <div class="flex md:flex-row flex-col justify-center gap-4 mt-10">
                <div class="md:w-auto w-full max-w-2xl flex items-center flex-col ">
                    <img src="assets/img/computer.svg" class="w-full" alt="">

                    <div class="px-10 mt-4">
                        <a href="#" class="text-primary  font-medium">Class adds $30 million to its balance
                            sheet for a Zoom-friendly
                            edtech solution</a>

                        <p class="mt-4">Class, launched less than a year ago by Blackboard co-founder Michael Chasen,
                            integrates exclusively...</p>
                    </div>
                </div>

                <div class="flex flex-col gap-5 w-full md:w-2/4">
                    <div class=" flex md:flex-row flex-col  gap-4">
                        <img src="assets/img/computer.svg" class="w-full md:w-60" alt="">

                        <div class="w-full md:w-auto px-2 mt-4">
                            <a href="#" class="text-primary font-medium ">Class adds $30 million to its balance sheet
                                for
                                a
                                Zoom-friendly
                                edtech solution</a>

                            <p class="mt-4">Class, launched less than a year ago by Blackboard co-founder Michael
                                Chasen,
                                integrates exclusively...</p>
                        </div>


                    </div>

                    <div class=" flex md:flex-row flex-col  gap-4">
                        <img src="assets/img/pessoa-meet.svg" class="w-full md:w-60" alt="">

                        <div class="md:w-auto w-full px-2 mt-4">
                            <a href="#" class="text-primary font-medium ">Zoom’s earliest investors are betting millions
                                on a better Zoom for schools</a>

                            <p class="mt-4">Zoom was never created to be a consumer product. Nonetheless, the...</p>
                        </div>


                    </div>

                    <div class="  flex md:flex-row flex-col  gap-4">
                        <img src="assets/img/backboard.svg" class="w-full md:w-60" alt="">

                        <div class="w-full md:w-auto px-2 mt-4">
                            <a href="#" class="text-primary font-medium ">Former Blackboard CEO Raises $16M to Bring LMS
                                Features to Zoom Classrooms</a>

                            <p class="mt-4">This year, investors have reaped big financial returns from betting on
                                Zoom...</p>
                        </div>


                    </div>
                </div>

            </div>
        </section>

    </main>

    <footer>
        <app-footer></app-footer>
    </footer>

</div>